page-menu-agendamento {
}
.icon-custom {
  width: 43px;
  height: 43px;
  padding: 0.6rem;
  border-radius: 5rem;
}
.line-height-24 {
  line-height: 24px;
}
.splitter {
  border-top: solid 1px rgba(0, 0, 0, 0.16);
}
.border-green {
  border: 1px solid #0dcc7b;
  color: #0dcc7b;
}
.brd-radius-2 {
  border-radius: 2px;
}
