@import "theme/_layout-2.scss";

page-detran-consulta-cnh-result {
  .pontuacao {
    border: solid 1px #d80000;
    border-radius: 2px;
  }

  .alert {
    color: #d80000;
  }

  .h-line::after {
    border-bottom: solid 1px rgba(50, 50, 50, 0.2);
    content: " ";
    height: 1px;
    display: block;
    width: 100%;
    margin-top: 1.25rem !important;
  }

  .card-logo {
    width: unset;
  }

  @media screen and (device-aspect-ratio: 40/71) {
    .font-20 {
      font-size: 0.875rem !important;
    }
  }
}
