page-info-cadastrar {
    .content-middle {
        .title {
            margin: 8px 0 8px;
            padding: 0;
            font-weight: normal;
            .title-text {
                font-size: 22px;
                margin: 0;
                padding: 0;
            }
        }
        .content-message {
            text-align: justify;
        }
        .item {
            padding: 0;
            background-color: unset;
            .checkbox {
                margin: 9px 16px 9px 4px;
            }
        }
    }
}