page-agendamento-step-one-confirmation {
}
.box-requisito {
  border: 1px solid #707070;
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}
.color-blue {
  color: $color-blue !important;
}
