page-usuario-endereco-editar {
    .input-button {
        color: #fff;
        background-color: #046de6;
        font-size: 0.8rem;
        font-weight: 500;
        text-transform: uppercase;
        font-family: inherit;
    }
    .input-button:focus {
        color: #fff;
        background-color: #046de6;
        font-size: 0.8rem;
        font-weight: 500;
        text-transform: uppercase;
        font-family: inherit;
    }
    .item {
        padding: 0;
        width: 100%;
        .item-inner {
            padding: 0 !important;
            border: none !important;
            box-shadow: none !important;
        }
    }
    ion-input {
        padding: 0 !important;
        input {
            padding: 0.8rem;
            margin: 0;
        }
    }
}
