page-menu-servicos-destaque {
    ion-spinner {
        width: 100%;
        margin: 8px;
        overflow: hidden;
        transition: height 0.2s ease-in-out;

        &.hidden {
            height: 0;
        }
    }
}